@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neue Montreal';
    src: url(../../public/fonts/PPNeueMontreal-Bold.otf) format('opentype');
  }
  @font-face {
    font-family: 'Neue Montreal Italic';
    src: url(../../public/fonts/PPNeueMontreal-Italic.otf) format('opentype');
  }
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 97,201,184;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
