@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NeueMontrealItalic';
  src: url('/fonts/PPNeueMontreal-Italic.otf') format('opentype');
}


body {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 97,201,184;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
