@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NeueMontrealItalic';
  src: url('/fonts/PPNeueMontreal-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Vintage';
  src: url('/fonts/VintageMohai-DemoVersion-Regular.otf') format('opentype');
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 97,201,184;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.link-effect {
  color: #fff;
  transition: background-position 50ms ease;
}

/* Hover state */
.link-effect:hover {
  position: relative;
  display: inline-block;
  animation: moveGradient 7s linear infinite;
  background: linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0,
    #ff8c00,
    #ff0080
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Fallback for Safari */
  transition: background-position 300ms ease;
}

/* Animation */
@keyframes moveGradient {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
